.svg-support {
    margin: 0 6px 0 -2px;
}

.svg-support {
    margin: 0 12px 0 -4px;
}

.fa-arrow-right {
    margin: 0 -4px 0 12px;
}

.svg-card,
.svg-social {
    margin: 15px;
    width: 30px;
    height: 30px;
}

.svg-burger,
.svg-social {
    margin: auto;
    display: block;
}